{% extends 'payapp/base.html' %}
{% block content %}
<h2>Transaction History</h2>

<table>
    <thead>
        <tr>
            <th>Reference</th>
            <th>Amount</th>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.amount }} {{ transaction.sender.account.currency }}</td>
                <td>{{ transaction.sender.username }}</td>
                <td>{{ transaction.recipient.username }}</td>
                <td>{{ transaction.message }}</td>
                <td>{{ transaction.timestamp|date:"Y-m-d H:i" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
